/*
* Site Navigation
*/
.site-navigation,
.site-navigation ul,
.site-navigation ul a {
    padding: 16px 0;
}

.site-navigation,
.site-navigation a:hover,
.site-navigation ul ul {
    background-color: black;
}

.site-navigation ul .dropdown-menu {
    margin: 0;
}

.site-navigation li {
    border: 1px;
    border-style: solid none;
}

.site-navigation ul a {
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.site-navigation ul a:link {
    
}

.site-navigation ul a:visited {
    
}

.site-navigation ul a:focus {
    
}

.site-navigation ul a:hover {
    
}

.site-navigation ul a:active {
    
}

.site-navigation
.navbar-toggler {
    padding: 0;
}

.navbar-brand {
    color: aliceblue;
    float: right;
    padding: 0;
    margin: 0;
}