/*
* Site Navigation
*/
.site-navigation,
.site-navigation ul,
.site-navigation ul a {
    padding: 16px 0;
}

.site-navigation ul a {
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.site-navigation,
.site-navigation ul ul {
    background-color: #000;
}

.site-navigation ul ul {
    border: none;
    margin: 0 0 16px 8px;
    padding: 0;
}

.site-navigation ul ul,
.navbar-toggler {
    padding: 0;
}

.site-navigation ul a:focus,
.site-navigation ul a:hover,
.site-navigation ul a:active {
    color: #E5E1DA;
}

.site-navigation ul ul > li:first-child > a {
    padding-top: 0;
}

.site-navigation li {
    border-bottom: 1px solid #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-brand {
    color: aliceblue;
    float: right;
    padding: 0;
    margin: 0;
}
